<div class="modal fade">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="close()" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">{{vm.title}}</h4>
      </div>
      <div class="modal-body">
        <p>Now, the new firmware is uploading, so please wait to finish it.</p>

		<form class="form-horizontal" role="form">
		  <div class="form-group">
		    <label for="name" class="col-sm-2 control-label">Firmware Name</label>
		    <div class="col-sm-10">
                <input type="text" name="filename" id="filename" class="form-control" readonly="readonly" ng-model="vm.filename"/>
		    </div>
		  </div>
		  <div class="form-group">
		    <label for="age" class="col-sm-2 control-label">Progress</label>
		    <div class="col-sm-10">
                <uib-progressbar class="progress-striped active" value="vm.pb_value" type="{{vm.pb_type}}"><b>{{vm.pb_value}}%</b></uib-progressbar>
                <textarea type="text" name="status_info" id="status_info" class="form-control" readonly="readonly"
                       ng-model="vm.status_info"
                       ng-style="vm.status_style"
                       ng-show="vm.status_show"/>
		    </div>
		  </div>
		</form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary"
                ng-click="closeDialog()"
                ng-disabled="vm.upgrade_firmware_status"
                data-dismiss="modal">{{vm.button_title}}</button>
      </div>
    </div>
  </div>
</div>
